<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>

    <!-- HEADER -->
    <header>
        <!--LOGO-->
        <div class="logo-buscador">
            <div class="logos">
                <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo">
            </div>

            <!--BARRA DE BUSQUEDA-->
            <div class="search-bar">
                <form class="formulario-home" action="GET">
                    <input type="text" id="search" placeholder="Buscar productos, marcas">
                    <div class="submit clickable"><i class="fa fa-search"></i></div>
                </form>
            </div>
            <div class="cuo">
                <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <!--Texto cuotas-->


        <!-- BARRA DE NAVEGACION -->
        <!-- Navegar 1 -->
        <nav>
            <div class="navbar">
                <div class="caja-uno">
                    <a href="#">Ofertas</a>
                    <a href="#">Tiendas Oficiales</a>
                    <a href="#">Vender</a>
                    <a href="#">Ayuda</a>
                </div>

                <div class="caja-dos">
                    <a href="/register">Creá tu cuenta</a>
                    <a href="/login">Ingresá</a>
                    <a href="#">Mis compras</a>
                </div>
            </div>
        </nav>


        <!-- BURGUER MENU -->

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <!-- BANNER -->
    <div class="banner">
        <img class="img-banner" src="/images/img-home-banner.jpg" alt="banner">
    </div>

    <!-- MAIN -->
    <h2 class="tit">Basado en tu última visita</h2>
    <main>
        <!-- SECCION ULTIMA VISITA -->
        <section class="Titulares">

            <!-- Producto 1 -->
            <article class="producto">
                <div class="img-product">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%">
                </div>

                <div class="catalogo">
                    <div class="icono-camion">
                        <i class="fas fa-truck"></i>
                    </div>

                    <div class="contenedor-precio-desc">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>

                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>

            <!-- Producto 2 -->
            <article class="producto">
                <div class="img-product">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" width="100%">
                </div>

                <div class="catalogo">
                    <div class="icono-camion">
                        <i class="fas fa-truck"></i>
                    </div>

                    <div class="contenedor-precio-desc">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>

                    <h4 class="descripcion">Macbook Pro 2019</h4>
                </div>
            </article>

            <!-- Producto 3 -->
            <article class="producto">
                <div class="img-product">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" width="100%">
                </div>

                <div class="catalogo">
                    <div class="icono-camion">
                        <i class="fas fa-truck"></i>
                    </div>

                    <div class="contenedor-precio-desc">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>

                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>

            <!-- Producto 4 -->
            <article class="producto">
                <div class="img-product">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" width="100%">
                </div>

                <div class="catalogo">
                    <div class="icono-camion">
                        <i class="fas fa-truck"></i>
                    </div>

                    <div class="contenedor-precio-desc">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    <h4 class="descripcion">SmartTv Samsung 43</h4>
                </div>
            </article>
        </section>
    </main>
    <!-- SECCION OFERTAS -->
    <h2 class="tit">Ofertas</h2>

    <main>
        <section class="Titulares">

            <!-- Producto 1 OFERTA -->
            <article class="producto">
                <div class="img-product">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%">
                </div>

                <div class="catalogo">
                    <div class="icono-camion">
                        <i class="fas fa-truck"></i>
                    </div>

                    <div class="contenedor-precio-desc">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>

                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>

            <!-- Producto 2 OFERTA -->
            <article class="producto">
                <div class="img-product">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" width="100%">
                </div>

                <div class="catalogo">
                    <div class="icono-camion">
                        <i class="fas fa-truck"></i>
                    </div>

                    <div class="contenedor-precio-desc">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>

                    <h4 class="descripcion">Macbook Pro 2019</h4>
                </div>
            </article>

            <!-- Producto 3 OFERTA -->
            <article class="producto">
                <div class="img-product">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" width="100%">
                </div>

                <div class="catalogo">

                    <div class="icono-camion">
                        <i class="fas fa-truck"></i>
                    </div>

                    <div class="contenedor-precio-desc">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>

                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>

            <!-- Producto 4 OFERTA -->
            <article class="producto">
                <div class="img-product">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" width="100%">
                </div>

                <div class="catalogo">

                    <div class="icono-camion">
                        <i class="fas fa-truck"></i>
                    </div>

                    <div class="contenedor-precio-desc">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>

                    <h4 class="descripcion">SmartTv Samsung 43</h4>
                </div>
            </article>
        </section>
    </main>
    </div>

    <!-- FOOTER -->
    <footer>
        <section class="pie-pagina">
            <!-- PIE DE PAGINA -->
            <div class="hijo-pie-pagina">
                <i class="fas fa-credit-card icons"></i>
                <h2 class="descripciones">Pagá con tarjeta o en efectivo</h2>
                <p class="cuerpo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                    pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="hijo-pie-pagina">
                <i class="fas fa-gift icons"></i>
                <h2 class="descripciones">Envío gratis desde $ 2.500</h2>
                <p class="cuerpo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
                    Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="hijo-pie-pagina">
                <i class="fas fa-user icons"></i>
                <h2 class="descripciones">Seguridad, de principio a fin</h2>
                <p class="cuerpo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                    estás siempre protegid@.</p>
            </div>
        </section>
        <div>
            <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
        </div>
    </footer>


</body>

</html>