<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de Usuario</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- HEADER -->
<header>
    <!--LOGO-->
    <div class="logo-buscador">
        <div class="logos">
            <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo">
        </div>

        <!--BARRA DE BUSQUEDA-->
        <div class="search-bar">
            <form class="formulario-home" action="GET">
                <input type="text" id="search" placeholder="Buscar productos, marcas">
                <div class="submit clickable"><i class="fa fa-search"></i></div>
            </form>
        </div>
        <div class="cuo">
            <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>
    </div>

    <!-- BARRA DE NAVEGACION -->
    <!-- Navegar 1 -->
    <nav>
        <div class="navbar">
            <div class="caja-uno">
                <a href="#">Ofertas</a>
                <a href="#">Tiendas Oficiales</a>
                <a href="#">Vender</a>
                <a href="#">Ayuda</a>
            </div>

            <div class="caja-dos">
                <a href="/register">Creá tu cuenta</a>
                <a href="/login">Ingresá</a>
                <a href="#">Mis compras</a>
            </div>
        </div>
    </nav>
    <!-- BURGUER MENU -->

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>

<body class="bodi">
    <h1 class="registro">Registro de Usuario</h1>
    <section>
        <div class="formu">
            <form action="procesar" method="POST">
                <div>
                    <input type="text" id="nombre_usuario" name="nombre_usuario" placeholder="Nombre de usuari@"
                        required>
                </div>
                <div>

                <div>
                    <input type="password" id="confirmar_contraseña" name="confirmar_contraseña"
                        placeholder="Confirmar contraseña" required>
                </div>

                <div>
                    <button class="confirmar_contraseña" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </section>

        <footer>
            <section class="pie-pagina">
                <!-- PIE DE PAGINA -->
                <div class="hijo-pie-pagina">
                    <i class="fas fa-credit-card icons"></i>
                    <h2 class="descripciones">Pagá con tarjeta o en efectivo</h2>
                    <p class="cuerpo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos
                        de
                        pago. ¡Y siempre es seguro!</p>
                </div>

                <div class="hijo-pie-pagina">
                    <i class="fas fa-gift icons"></i>
                    <h2 class="descripciones">Envío gratis desde $ 2.500</h2>
                    <p class="cuerpo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos.
                        Es un beneficio de Mercado Puntos.</p>
                </div>

                <div class="hijo-pie-pagina">
                    <i class="fas fa-user icons"></i>
                    <h2 class="descripciones">Seguridad, de principio a fin</h2>
                    <p class="cuerpo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque
                        estás siempre protegid@.</p>
                </div>
            </section>
            <div>
                <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
            </div>
        </footer>
</body>
</html>